@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
  font-weight: 400;
  box-sizing: border-box;
  min-height: 100vh;
}

nav ul li {
  @apply my-4 font-[700] text-v-dark-blue md:my-0 md:mr-6 md:flex md:h-full md:items-center md:text-sm md:font-[400] md:text-dark-gray-blue md:transition-all md:duration-200 md:hover:border-b-4 md:hover:border-orange md:hover:text-black md:focus:border-b-4 md:focus:border-orange;
}

.images-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "main-image", "thumbnails";
  justify-content: center;
  align-items: center;
}

.rotation {
  @apply absolute top-[50%] flex h-9 w-9 translate-y-[-50%] items-center justify-center rounded-full bg-white hover:cursor-pointer md:top-[40%];
}

.left {
  @apply left-[10px] md:left-[-20px];
}

.right {
  @apply right-[10px] md:right-[-20px];
}

.attribution a {
  color: hsl(26, 100%, 35%);
  @apply underline;
}
